@page
@model SeatingChart.Pages.PrimaryChart.IndexModel

@{
    ViewData["Title"] = "Primary Chart";
}

<h1>Index</h1>

<!DOCTYPE html><html lang="en">
    <head>
        <title>JavaScript example</title>
        <meta charSet="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <style media="only screen">
            html, body {
                height: 100%;
                width: 100%;
                margin: 0;
                box-sizing: border-box;
                -webkit-overflow-scrolling: touch;
            }
 
            html {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                overflow: auto;
            }
 
            body {
                padding: 1rem;
                overflow: auto;
            }
        </style>
    </head>
    <body>
        <div style="height: 100%; width: 100%; display: flex; flex-direction: column">
            <div style="margin-bottom: 5px; min-height: 30px">
                <button onclick="addFiveItems(true)">Append</button>
                <button onclick="addFiveItems(false)">Prepend</button>
                <button onclick="removeSelected()">Remove Selected</button>
                <button onclick="clearGrid()">Delete Chart</button>
                <button onclick="sizeToFit()">Size to Fit</button>
                <button onclick="createCol()">Append Column</button>
                <button id="groupingOn" onclick="onGroupingEnabled(true)">
      Grouping On
    </button>
                <button id="groupingOff" onclick="onGroupingEnabled(false)">
      Grouping Off
    </button>
                <span style="
        border: 1px solid lightgrey;
        margin-left: 20px;
        padding: 8px;
        white-space: nowrap;
        display: inline-block;
      ">
      Move to Group:
      <button onclick="setSelectedToGroup(&#x27;A&#x27;)">A</button>
                <button onclick="setSelectedToGroup(&#x27;B&#x27;)">B</button>
                <button onclick="setSelectedToGroup(&#x27;C&#x27;)">C</button>
            </span>
        </div>
        <div style="flex: 1 1 0px">
            <div id="myGrid" style="height: 100%" class="ag-theme-alpine">
            </div>
        </div>
    </div>
    <script>var __basePath = './';</script>
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-enterprise@30.2.1/dist/ag-grid-enterprise.min.js">
    </script>
    <script src="wwwroot.site.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>
