@page
@model SeatingChart.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Adding</h1>

<style>
    .btn-primary {
        color: #fff;
        background-color: #f5822a;
        border-color: #f5822a;
    }
</style>

<h4>Copy and paste all students you want to add:</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="namesInput" class="control-label" >Name(s) to add:</label>
                <textarea asp-for="namesInput" class="form-control" rows="15"></textarea>
                <span asp-validation-for="namesInput" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Student.MiddleName" class="control-label"></label>
                <input asp-for="Student.MiddleName" class="form-control" />
                <span asp-validation-for="Student.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
             </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="hidden" asp-for="ChartNum" value=@Model.ChartNum />
            </div>
        </form>
    </div>
    <div class="col-md-6" id="info">
            <p>
                Add one or more students in the following format: <br><br> 
                "First Middle(optional) Last"<br>
                "First Middle(optional) Last"<br>
                ...

                <br>
                <br>

                To add reserved seats at the <b>beginning</b> chart,
                add a student with the format "Reserved #," i.e. "Reserved 1"
                <br>
                <br>
                To add Reserved seats at the <b>end</b> of the chart, add the letter "z", 
                i.e. "blank z5"
            </p>
        </div>
</div>

<div>
    <a asp-page="./Index" asp-route-chartNum="@Model.ChartNum">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
