@page
@model SeatingChart.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Seating Chart";
}

<h2>Seating Chart</h2>
<html>
<head>
    <title>Your GridView Example</title>
    <link href="https://cdn.syncfusion.com/ej2/17.1.43/material.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/17.1.43/material.css"> 
    <script src="jquery-3.7.1.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/17.1.43/dist/ej2.min.js"></script>
</head>
<body>
     <style>
    .wrapper {
        display: grid;
        grid-template-columns: repeat(@Model.numCols, 1fr);
        gap: 10px;
    }

    .wrapper > div {
        border: 2px solid #222;
        border-radius: 3px;
    }

    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    h4 {
        text-align: center;
    }

    .btn-primary {
        color: #fff;
        background-color: #f5822a;
        border-color: #f5822a;
    }

 </style>
    
    <a class="btn btn-primary" href="/Students/SetNumColumns/?num=@(Model.numCols + 1)">Add Column</a>
    <a class="btn btn-primary" href="/Students/SetNumColumns/?num=@(Model.numCols - 1)">Remove Column</a>

    <h4>Front</h4>
    
    @*<div id="Grid"></div>*@

    <div class="wrapper">
        @foreach (var student in Model.Students) {
            <div class="item">
                @student.FirstName @student.MiddleName @student.LastName
                <div class="buttons">
                    <a href="/Students/Edit/?id=@student.ID">Edit</a>
                    <a href="/Students/Delete/?id=@student.ID">Delete</a>
                </div>
            </div>
        }
    </div>

    <h4>Back</h4>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 

</body>
</html>