@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome!</h2>
<h4>This site is used for creating a seating chart for commencement at Hendrix College.<br>
Instructions:<br>

</h4>