@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h2>Welcome!</h2>
<h4>This site is used for creating a seating chart for commencement at Hendrix College.<br>
Instructions:<br>
1. Click "Add Student" and add the desired students. Make sure each student is on an individual line.<br>
2. Click the "Add Column" and "Remove Column" buttons to get the desired chart shape.<br>
3. Click the student "Edit" and "Delete" buttons if a name needs to be changed or a student needs to be removed.<br>
4. Click "Delete All" to start over again if desired.<br>
* Zooming out on your browser might be necessary to view the entire chart.<br>
</h4>